<div>
    <h2>Edit Post</h2>
    <textarea id="postTitle" placeholder="{{title}}"></textarea>
    <textarea id="postBody" placeholder="{{body}}"></textarea>
    <button id="postEdit">Submit Edit</button>
    <script src="/js/editPost.js"></script>
</div>