<div id="loginPage">
    <h2>Login:</h2>
    <form>
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required>
        <button id="login">Login</button>
    </form>
    <p>Don't have an account? Click <a href="/signup">here</a> to sign up!</p>
</div>

<script src="js/login.js"></script>